<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>941419970016-cm34d90f76f3bfi367ecj476mu9tqacb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.941419970016-cm34d90f76f3bfi367ecj476mu9tqacb</string>
	<key>API_KEY</key>
	<string>AIzaSyBgI7F96tvWR4QC91j1YgWQO0iI6QzktJ0</string>
	<key>GCM_SENDER_ID</key>
	<string>941419970016</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterfirebaseiot</string>
	<key>PROJECT_ID</key>
	<string>flutterfirebaseiot-54213</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterfirebaseiot-54213.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:941419970016:ios:b8bc873f2e8609ce147f85</string>
</dict>
</plist>